table.scroll {
  /* border-collapse: collapse; */
  border-spacing: 0;
  border: 2px solid black;
}

table.scroll tbody,
table.scroll thead { display: block; }

thead tr th { 
  /*text-align: left;*/
}

table.scroll tbody {
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}

tbody { border-top: 2px solid black; }

tbody td, thead th {
  width: 33%; /* Optional */
  border-right: 1px solid black;
}

tbody td:last-child, thead th:last-child {
  border-right: none;
}

